.edit-enter {
    opacity: 0;
}

.edit-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.edit-exit {
    opacity: 1;
}

.edit-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.modal-add-btn {
    position: absolute;
    display: inline-block;
    right: 2vw;
    border: none;
    border-radius: 50%;
    height: 4vh;
    width: 4vh;
    margin: 0.25vmax;

    color: white;
    background-color: #333333;
    font-size: 1.2rem;
    transition: background-color 0.2s ease;
}

.modal-add-btn .fa {
    color: #dddddd;

    /* margin: 0 5px 0 10px; */
}

.modal-add-btn:hover {
    background-color: #9438ef;
    cursor: pointer;
}