.info-title {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
    padding: 5px;
}

.info-hr {
    height: 1px;
    border: none;
    color: grey;
    background-color: dimgrey;
}

.info-line {
    font-size: 1.3rem;
    text-align: left;
    margin-left: 20%;
    font-family: "Jost", sans-serif;
    font-weight: 300;
}

.info-line-title {
    font-weight: 400;
    margin-right: 10px;
}

.form-area {
    width: 100%;
}

.info-box {
    padding: 5px;
    max-height: 33vh;
    background-color: #111111;
    border-radius: 7px;
    height: 33vh;
    min-width: 270px;
    max-width: 300vw;
}
h2 {
    margin: 0 0 20px 0;
    padding: 10px;
}

.confirm-btn {
    vertical-align: middle;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #333333;
    font-size: 1.2rem;
    width: 20%;
    align-self: end;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.confirm-btn:hover {
    background-color: #9438ef;
    cursor: pointer;
}

.cancel-btn {
    vertical-align: middle;
    padding: 9px 9px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: darkred;
    font-size: 1.2rem;
    width: 20%;
    align-self: end;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}
.cancel-btn:hover {
    background-color: #333333;
    border: 1px solid darkred;
    cursor: pointer;
}
