.App {
  text-align: center;
  background-color: #111111;
  height:100vh;

  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  margin-block-start: 0;
  font-size: 1.3em;
  margin: auto auto;
  font-weight: 300;
  font-family: 'Jost', sans-serif;
}

.list-title{
  text-align: left;
  font-size: 1.2rem;
  color: #cccccc;
  font-weight: bolder;
  margin: 0 0 5px;
  padding: 2px;

}

.info-area{
  position: fixed;
  z-index: 1000;
  bottom: 3vh;
  left: 1vh;

}
.map-area{
  display: inline-block;
  width: 100%;
  height: 94vh;
}

.list-area{
  height: 92vh;
  overflow:scroll;
}

.add-button{
  position: absolute;
  bottom: 1vh;
  width: 20%;

}

.list-hr{
  height: 1px;
  border: none;
  color: grey;
  background-color: dimgrey;
}
.header-area{
  text-align: center;
}

ul{
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;

}
li{

  padding: 10px 5px;
  cursor: pointer;
  color:white;
  border-radius: 7px;
  font-size: 1.3rem;
  font-weight: lighter;
  transition: all 0.2s ease;

}

li:hover{
  background-color: rgba(255,255,255,0.1);
  color: #a86ce5;;
}

.active{
  background-color: rgba(255,255,255,0.2);
}

.row1{
  display: flex;
  height: 6vh;
  background-color: #222222;
  text-align: center;
  letter-spacing: 3px;

  border-bottom: 1px solid #444444;
}

.row2{
  display: flex;
  height: 94vh;
}
.column-title{
  padding: 5px;
  margin:0;
  font-weight: 200;
  font-size: 1.7rem;
  font-family: 'Jost', sans-serif;
}

.column1 {
  flex: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.column2 {
  flex: 20%;
  height: 92vh;

  padding: 1vh 1%;
  /*border-left: white solid 2px;*/
  background-color: #111111;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal {
  z-index: 100;
  display: block;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: #262626;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
.close-btn {
  float: right;
  color: lightgray;
  font-size: 24px;
  font-weight: bold;
}
.close-btn:hover {
  color: darkgray;
}

/*
Some system wide color adjustments
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
  -webkit-text-fill-color: white !important;
  caret-color: white;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {

}
::-webkit-scrollbar {
  width: 0;
  background: transparent; /* make scrollbar transparent */
}